<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="ABC">


<test name="First Class">
    <classes>
        <class name="package1.Test2" ></class>  
    </classes>
</test>
<test name="Second Class Class">
    <classes>
        <class name="package1.Test3" ></class>  
    </classes>
</test>


</suite>
